body{
    background-color:rgb(36, 178, 230);
    font-family: 'Victor Mono', monospace;
}

h1{
    color: white;
}

#surveyForm{
}

.container{
    margin: auto;
    padding: 20px;
    width: 50%;
    background-color: whitesmoke;
    font-size: 0.5rem;
}

button{
    height: auto;
    width: auto;
    padding: 8px;
    background-color: rgb(36, 178, 230);
    color: white;
    border: none;
}
